/***
   Component ProdSearch
 */
.color-banner-search{
    background-color: #FFE600;
}
.icon-search{
    background-color: #EEEEEE;
}
.logo-search-meli{
    position: relative;
    top: 3px;
    left: 37px;
}
.p-inputgroup{
    height: 2.5em;
}
/***
   Component ProdResultSearch
 */
.btn-search:hover{
    cursor: pointer;
}
.body-search,.body-detail{
    background-color: #EEEEEE;
}
.grid-result{
    margin-left: 9.5em;
    margin-right: 14.5em;
    margin-top: 0.5em;
    background-color: white;
}
.img-product{
    width: 180px;
    height: 180px;
    border-radius: 4px;
    padding: 16px;
}
.prod-price{
    font-size: 24px;
    padding-top: 40px;
    padding-bottom: 32px;
}
.prod-price b {
    padding-right: 10px;
}
.prod-ubication{
    font-size: 12px;
    padding-top: 57px;
}
.prod-tags{
    margin-left: 11em;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 14px;
    color: #999999;
}
.word-search::first-letter{
    text-transform: capitalize;
}
/***
    Component Detail
 */
.img-detail-prod{
    width: 680px;
}
.btn-buy{
    width:100%;
    padding-right: 32px;
}
.product-sub-title{
    font-size: 14px;
    padding-top: 32px;
}
.product-title-detail{
    font-size: 24px;
    padding-bottom: 32px;
}
.product-price{
    font-size: 46px;
    padding-bottom: 32px;
}
.grid-detail-prod{
    padding-right: 2em;
    padding-left: 2em;
}
.grid-detail-prod div:last-child article b {
    font-size: 28px;
    padding-left: 32px;
    padding-bottom: 32px;
}
.grid-detail-prod div:last-child article p {
    padding-bottom: 32px;
}
.btn-back-detail{
    position: relative;
    top: 15px;
}